<div>
    {% url 'index' as index_url %}
    <span>{% if request.path == index_url %} Home {% else %} <a href="{% url 'index' %}"> Home</a>{% endif %}</span>


    {% url 'songselection' as songselection_url %}
    <span>{% if request.path == songselection_url %} Song Selection {% else %}<a href="{% url 'songselection' %}"> Song Selection</a>{% endif %}</span>

    {% if request.user.is_authenticated %}
        {% url 'recording' as recording_url %}
        <span>{% if request.path == recording_url %} Recording {% else %}<a href="{% url 'recording' %}"> Recording</a>{% endif %}</span>
        {% url 'composite' as composite_url %}
        <span>{% if request.path == composite_url %} Composite Videos{% else %}<a href="{% url 'composite' %}"> Composite Videos </a>{% endif %}</span>
        <span> Hello, {{request.user}}</span>
        {% url 'login' as login_url %}
        <span>{% if request.path == login_url %} Profile {% else %}<a href="{% url 'profile' %}"> Profile</a>{% endif %}</span>
        <span><a href="{% url 'logoutuser' %}">Logout</a></span>
    {% else %}
        {% url 'register' as register_url %}
        <span>{% if request.path == register_url %} Sign Up {% else %}<a href="{% url 'register' %}"> Sign Up</a>{% endif %}</span>
        {% url 'login' as login_url %}
        <span>{% if request.path == login_url %} Log In {% else %}<a href="{% url 'loginpage' %}"> Log In</a>{% endif %}</span>
    {% endif %}
</div>
