h2{
    font-size: 20px;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    background-color: darkred;
}

.a {
    grid-row: 1;
    grid-column: 1 / span 2;
    width: 100%;
}
.b {
    grid-column: 4 ;
    grid-row: 1 / span 4;
    width: 100%;
}
.c {
    grid-column: 1 ;
    grid-row: 2 / span 3;
    width: 100%;
}
.d {
    grid-column: 2 ;
    grid-row: 2 / span 3;
    width: 100%;
}
.e {
    grid-column: 3 ;
    grid-row: 1 / span 4;
    width: 100%;
}
