.container {
    display: grid;
    width: 100%;
    background-color: darkred;
    grid-template-columns: 5fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 1em;
}

#col-one {
    grid-column: 1 / 1;
    background-color: white;
    width: 100%;
    justify-content: left;
}

#col-two {
    grid-column: 2 / 2;
    background-color: white;
    width: 100%;
}

#col-three {
    grid-column: 3 / 3;
    background-color: white;
    width: 100%;
}
input[type=text] {
  width: 60%;
  padding: 5px 100px;
  margin: 20px 0;
  box-sizing: border-box;
}