.container {
    display: grid;
    width: 100%;
    background-color: darkred;
    grid-template-columns: 5fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 1em;
}

#col-one {
    grid-column: 1 / 1;
    background-color: white;
    width: 100%;
    justify-content: left;
}

#col-two {
    grid-column: 2 / 2;
    background-color: white;
    width: 100%;
}

#col-three {
    grid-column: 3 / 3;
    background-color: white;
    width: 100%;
}
form {
    position: relative;
    width: 100%;
    height: 100%;
}
label {
    position: relative;
    width: 100%;

    /* Your styling here */
    line-height: 0px;
    color: black;
    text-align: left;
}
