* {
    text-align: center;
    padding: 0.5em 1em;
    margin: 0px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: darkred;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button-span a {
    color: white;
    text-decoration: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 30px;
}

.button:hover span:after {
    opacity: 1;
    right: 15;
}

footer {
    padding: 15px 0;
    margin: 30px 0;
    background-color: darkred;
    color: white;
}

.column {
    float: left;
}
  
  .left {
    width: 25%;
    

}
  
  .right {
    width: 75%;

}

img{
    max-width: 75%;
    height: auto;/*to preserve the aspect ratio of the image*/
}